@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-image: linear-gradient(90deg, yellow, cyan);
  background-clip: text;
  color: transparent;
}

.gradient-underline {
  background-image: linear-gradient(90deg, yellow, cyan);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 400ms ease;
  text-decoration: none;
}

.gradient-underline:hover {
  background-size: 100% 3px;
}

.gradient-background {
  background-image: linear-gradient(90deg, yellow, cyan);
}
